:root {
  --primary-color: #dbcf5c;
}

body {
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

html {
  font-size: 1.5rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  border-block-end: #dbcf5c solid;
  border-radius: 10px;
  margin-left: 1em;
  margin-right: 1em;
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

section {
  margin-left: 1em;
}

.parallax {
  background-image: url(../img/olive-oil_1920.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 20vh;
  width: 100vw;
}

.parallax:hover {
  filter: grayscale(100%);
}